@use '../abstracts/' as *;

.jobs {
  display: flex;
  flex-direction: column;
  gap: size(64);

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(size(320), max-content));
    justify-content: center;
    column-gap: size(16);
    row-gap: size(64);
  }

  .button {
    align-self: center;
  }
}