@use '../abstracts/' as *;

.job-details {
  padding-inline: size(24);
  width: 100%;
  
  &__loading {
    height: 50vh;
  }

  &__not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
}