@use '../abstracts/' as *;

.jobs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, max-content));
  justify-content: center;
  // max-width: calc(4 * 350px + 3rem);
  gap: 1rem;
  
}