@use '../abstracts/' as *;

.container {
  --padding-inline: 1rem * 2;
  --max-width: #{$container-max-width};
  
  width: min(100% - var(--padding-inline), var(--max-width));
  margin-inline: auto;
  
  @include mq('tablet') {
    --padding-inline: 2rem * 2;
  }
  @include mq('laptop') {
    --padding-inline: 4rem * 2;
  }
}
