@use '../abstracts/' as *;

.container {
  --padding-inline: 0;
  --max-width: #{$container-max-width};
  width: min(100% - var(--padding-inline), var(--max-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @include mq('tablet') {
    margin-inline: auto;
    --padding-inline: 2rem * 2;
  }
  @include mq('laptop') {
    --padding-inline: 4rem * 2;
  }
}
