@use '../abstracts/' as *;

.company-logo {
  &__container {
    position: absolute;
    width: size(64);
    height: size(64);
    border-radius: size(6);
    padding: size(6);
    object-fit: cover;
    margin-inline-end: size(16);
    background-color: clr('neutral', 0);

    [data-theme='dark'] & {
      background-color: clr('neutral', 800);
    }
  }
}